/* https://css-tricks.com/difference-explicit-implicit-grids/ */

/* todo parameterize */
.game-grid {
  display: grid;
  grid-template-columns: 180, 80;
}

.board-grid {
    display: grid;
    grid-template-columns: repeat(var(--boardSize), 80px);
    grid-auto-rows: 80px;
}
.board-grid-item {
  align-self: center
}

.unusedDiskGrids-grid {
  display: grid;
  grid-auto-rows: 25px;
}

.unusedDisk-grid {
  display: grid;
  grid-template-columns: repeat(var(--maxUnusedDiskCount), 20px); 
}
.unusedDisk-grid-item {
}

/* todo unused */
.controls-grid {
  display: grid;
  grid-template-columns: 80px 130px 100px; 
}

/* https://stackoverflow.com/questions/3779534/how-do-i-disable-text-selection-with-css-or-javascript */
.noselect {
  -webkit-touch-callout:  none; /* iOS Safari */
    -webkit-user-select:  none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select:  none; /* Internet Explorer/Edge */
            user-select:  none; /* Non-prefixed version, currently supported by Chrome and Opera */
}